@import "../styles/index.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100%;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "SHREK", "Comic Sans MS", "Comic Sans", cursive;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("/tile-floor.png");
  background-size: 350px;
}

@font-face {
  font-family: "SHREK";
  src: url("SHREK___.TTF");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cursive-font {
  font-family: cursive;
}

.jake-machine-image-wrapper {
  animation-name: spin-and-scale;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes spin-and-scale {
  0% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}

.fried-egg {
  position: relative;
  top: 60px;
  left: 40px;
  width: 0;
  transform: rotate(-90deg);
}

.white {
  position: absolute;
  top: 0;
  width: 200px;
  height: 130px;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  transform: translate(-50%, -50%);
}

.white::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 30px;
  width: 160px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
}

.yolk {
  position: absolute;
  top: 0;
  left: -10px;
  width: 80px;
  height: 65px;
  background: #ffa500;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.yolk::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 70px;
  height: 55px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.1;
}

.yolk::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  width: 60px;
  height: 50px;
  background: #ffa500;
  border-radius: 50%;
  opacity: 0.7;
}

.light {
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}

.light::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.8;
}

.light::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 25px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.8;
}
